@use "../utils";


main {
    .main__background {
        padding: 3rem 0 1rem 0;
        background-color: utils.$grey-lighter;
        @include utils.desktop {
            max-width: 1800px;
            margin: 0 auto;
            border-radius: 1rem 1rem 0 0;
        }
        h2 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            margin-left: 5%;
        }
        .articles {
            padding: 0 5% 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            article {
                width: 100%;
            
            }
            @include utils.tablet {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                gap: 2rem;
            }            

        }
    }
}

.card {
    border-radius: 1rem;
    background-color: white;
    @include utils.article-shadow;
    &__img {
        width: 100%;
        height: 200px;
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }
    }
    &__content {
        display: flex;
        padding: 1em;
        position: relative;
    }
    &__text {
        h3 {
            font-size: 1rem;
        }
        p {
            font-weight: lighter;
            font-size: 1rem;
            margin-top: 3px;
        }
    }
    &__like {
        position: absolute;
        font-size: 1.1rem;
        top: 1.3rem;
        right: 1.5rem;       
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px!important;
    z-index: 3;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    animation: disappear 3s ease-in-out forwards;
    @include utils.loader;
}