//Chart colors
$color-primary: #8f5fca;
$color-primary-light: #F5EDFF;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

//Dark and Grey
$grey: #EAEAEA;
$grey-lighter: #F6F6F6;
$grey-darker: #353535;

//Gradient Color
$linear-gradient:linear-gradient(180deg, rgba(255,121,218,0.9066760493259804) 14%, rgba(147,86,220,0.7442110633315826) 99%);
