@use "../utils";

.hero {
    background-color: utils.$grey-lighter;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }
    h1 {
        font-size: 1.4rem;
        text-align: center;
        margin: auto;
        padding-bottom: 1rem;
    }
    p {
        font-size: 1.0rem;
        font-weight:300;
        text-align: center;
        padding-bottom: 1.5rem; 
    }
    &__btn {
        display: flex;
        justify-content: center;
        .btn-submit {
            @include utils.btn-submit
        }
    }
}