@use "../utils";

nav{
    width: 90%;
    margin: 3rem auto;
    @include utils.desktop {
        max-width: 1640px;
        margin: 3rem auto;
    }
    h2 {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        @include utils.desktop {
            width: 100%;           
        }
    }
    .function {
        max-width: 1800px;
        margin: 0 auto;
        ul {
            list-style: none;
            counter-reset: listCounter;
            @include utils.desktop {
                display: flex;
                gap: 3rem;
                justify-content: space-between;                       
            }
        }
        li {
            display: flex;
            margin: 1rem auto;
            margin-left: 0.5rem;
            counter-increment: listCounter;
            position: relative;
            @include utils.tablet {
                justify-content: center;
                min-width: 340px;
            }
            @include utils.desktop {
                flex-basis: 100%;
                justify-content: center;                
            }
            &:hover {
                background-color: utils.$color-primary-light;
            }
            &:hover .fas {
                color: utils.$color-primary;
            }
        }
        button {   
            background-color: transparent;
            border: none;
            font-weight: bold;
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &::before {
                content: counter(listCounter);
                height: 1.5rem;
                width: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: white;
                font-weight: bold;
                background-color: utils.$color-primary;
                position: absolute;
                left: -0.95em;
                top: 1.45em;
            }
            i {
                position: absolute;
                left: 2em;
                top: 1em;
                font-size: 1.3rem;
                color: grey;
            }
            span {
                padding-left: 5rem;
                font-size: 1rem;
                cursor: pointer;
                @include utils.tablet {
                    font-size: 0.8rem;
                    padding-left: 0;
                }
                @include utils.desktop {
                    padding-left: 1rem;
                    font-size: 0.9rem;
                }
            }
        }
        &__btn {
            padding: 1.5rem;
            background-color: utils.$grey-lighter;
            border-radius: 1rem;
            @include utils.material-shadow;
        }
    }
}

